<div class="main posts-show">
  <div class="show-container">
    <div class="posts-show-item">
      <div class="post-user-name"> 
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p class="record-content">
        <%= @record.content %>
      </p>
      <div class="post-time">
        <%= @record.created_at.strftime('%Y/%m/%d') %>
      </div>
      <% if Goodfeeling.find_by(user_id: @current_user.id, record_id: @record.id) %>
        <%= link_to("/goodfeelings/#{@record.id}/destroy", {method: "post"}) do %>
          <span class="far fa-laugh-beam like-btn-unlike1">feelgood!</span>
        <% end %>
      <% else %>
        <%= link_to("/goodfeelings/#{@record.id}/create", {method: "post"}) do %>
          <span class="far fa-thumbs-up like-btn">feelgood?</span>
        <% end %>
      <% end %>

      <% if Badfeeling.find_by(user_id: @current_user.id, record_id: @record.id) %>
        <%= link_to("/badfeelings/#{@record.id}/destroy", {method: "post"}) do %>
          <span class="far fa-tired like-btn-unlike2">feelbad!</span>
        <% end %>
      <% else %>
        <%= link_to("/badfeelings/#{@record.id}/create", {method: "post"}) do %>
          <span class="far fa-thumbs-down like-btn">feelbad?</span>
        <% end %>
      <% end %>

      <% if @record.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/records/#{@record.id}/edit") %>
          <%= link_to("削除", "/records/#{@record.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<header>
      <div class="header-logo">
        <h1 class="title">D a t a　f o r　H e a l t h y　L i f e</h1>
        <p class="subtitle">〜あなたに合った食事で健康的な生活を〜</p>
      </div>
      <ul class="header-menus">
        <div class="menus-clearfix">
          <% if @current_user %>
            <li class="menu">
              <%= link_to(@current_user.name + "さん", "/users/#{@current_user.id}/edit") %>
            </li>
            <li class="menu">
              <%= link_to("記録する", "/records/new") %>
            </li>
            <li class="menu">
              <%= link_to("記録一覧", "/records/index") %>
            </li>
            <li class="menu">
              <%= link_to("feel good!😄", "/users/#{@current_user.id}/goodfeelings") %>
            </li>
            <li class="menu">
              <%= link_to("feel bad!😨", "/users/#{@current_user.id}/badfeelings") %>
            </li>
            <li class="menu">
              <%= link_to("ログアウト", "/logout", {method: :post}) %>
            </li>
          <% else %>
            <li class="menu session">
              <%= link_to("新規登録", "/signup") %>
            </li>
            <li class="menu session">
              <%= link_to("ログイン", "/login") %>
            </li class="menu">
          <% end %>
        </ul>
    </header>