<!DOCTYPE html>
<html>
  <head>
    <title>Healthcare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <%= render :partial => "modules/side-bar" %>
      <div class='main'>
        <%= render :partial => "modules/header" %>
      
    </div>
  <script>  
  document.getElementById("date").innerHTML = getNow();

  function getNow() {
    var now = new Date();
    // var year = now.getFullYear();
    var mon = now.getMonth()+1; //１を足すこと
    var day = now.getDate();
    // var hour = now.getHours();
    // var min = now.getMinutes();
    // var sec = now.getSeconds();

    //出力用
    var s = mon + "月" + day + "日"; 
    return s;
  }
  </script>  
  </body>
</html>
